@import url("general.css");
@import url("dashboard.css");
@import url("tables.css");
@import url("pagination.css");
@import url("forms.css");
@import url("sms.css");

.label, .action-buttons label {
    color: #4C4C4C;
    text-align: right;
    white-space: nowrap;
}
.label {
    padding: 2px 6px;
}

.search_input{
	position: relative;
}

.img_search{
	cursor: pointer;
    position: absolute;
    right: 2px;
    top: -2px;
    width: 18px;
}

.tab-data-desc{
	background-color: #EBF3F7;
	text-align: left;
	height: 25px;
	border:2px solid #FFF;
}

.tab-data-index{
	text-align: right;
}
.filtro_select{
	width:80px;
}

/************************************************************/
/*********************Formularios***************************/

.input_full_width{
	width:100%;
}

/*Para o tooltip*/
#text {margin:50px auto; width:500px}
.hotspot {color:#8AAD00; padding-bottom:1px; border-bottom:1px dotted #8AAD00; cursor:pointer}

#tt {
 position:absolute;
 display:block;
 background:url(images/tt_left.gif) top left no-repeat;
 }
 #tttop {
 display:block;
 height:5px;
 margin-left:5px;
 background:url(images/tt_top.gif) top right no-repeat;
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:#666;
 color:#fff;
 }
#ttbot {
display:block;
height:5px;
margin-left:5px;
background:url(images/tt_bottom.gif) top right no-repeat;
overflow:hidden;
}